$space: 1rem;
$white: #fff;
$green: #4caf50;
$brown: #8b4513;
$blue: #1e90ff;
$yellow: #ffd700;
$red: #e63946;
$pink: #ff69b4;
$bgColor: #f0f8ff;
$textColor: #0a2239;
$textHoverColor: #0a2239;
$borderColor: #ccc;
$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$borderRadius: 5px;
$scrollBgColor: #888;
