@import '../../styles/variables';

%disabled {
  color: $white;
  background-color: $gray-l;
  border: none;
  filter: grayscale(1);
  opacity: 0.5;
  pointer-events: none;
}

%display {
  display: inline-flex;
  gap: $space-xs;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button {
  --primary-color: #{$gray};
  @extend %display;
  border: 1px solid;
  box-sizing: border-box;
  color: var(--primary-color);
  border-color: var(--primary-color);
  min-height: $space;
  padding: $space-xs $space;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border-radius: $radius;

  &.secondary {
    &:disabled {
      @extend %disabled;
    }
    &:hover:enabled {
      background-color: $back-l;
      border-color: $black;
      color: $white;
    }
    &:active:enabled {
      border-color: $black;
      color: $black;
    }
  }

  &.primary {
    background-color: var(--primary-color);
    color: $white;
    &:disabled {
      @extend %disabled;
    }
    &:hover:enabled {
      background-color: $black;
    }
    &:active:enabled {
      background-color: var(--primary-color);
    }
  }

  &.none {
    border: none;
    background-color: transparent;
    &:disabled {
      @extend %disabled;
    }
    &:hover:enabled {
      background-color: #f4f4f4;
      border-color: $black;
      color: $black;
    }
    &:active:enabled {
      background-color: #dedede;
      border-color: $black;
      color: $black;
    }
  }

  &.loading {
    pointer-events: none;
    opacity: 0.6;
  }

  &.round {
    border-radius: $radius * 2;
  }
}
